Repository ayatk/github-actions-sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: apps/go-app1, apps/go-app2

add size-label
  .github/workflows/size-label.yml
Labels: none

add glob
  .github/workflows/size-label.yml
Labels: none

echo
  apps/go-app2/go.mod
  apps/go-app2/go.sum
  apps/go-app2/main.go
Labels: apps/go-app2

fibonacci
  apps/go-app1/main.go
Labels: apps/go-app1

Update main.py
  functions/func1/main.py
Labels: none

Update main.py
  functions/func1/main.py
Labels: none

invalid code
  apps/go-app1/main.go
Labels: apps/go-app1

.github/labeler.yml:

apps/go-app1: apps/go-app1/**/*
apps/go-app2: apps/go-app2/**/*
